In [1]:
import pandas as pd

In [ ]:
# Load raw data
data = pd.read_csv('../app/data/products.csv')

In [5]:
data.head()

,product_code,product_name,product_price,product_discount_price,product_discount_percentage,product_discount_free_quantity,product_discount_minimum,discount_active
0,GR1,Green Tea,3.11,NaN,NaN,1.0,2.0,free_item_discount
1,SR1,Strawberries,5.00,4.5,NaN,NaN,NaN,price_discount
2,CF1,Coffee,11.23,NaN,0.67,NaN,NaN,percentage_discount
3,HF1,Water,1.00,NaN,NaN,NaN,NaN,none

In [6]:
products = data.set_index("product_code").to_dict(orient="index")

In [7]:
products

{'GR1': {'product_name': 'Green Tea',
  'product_price': 3.11,
  'product_discount_price': nan,
  'product_discount_percentage': nan,
  'product_discount_free_quantity': 1.0,
  'product_discount_minimum': 2.0,
  'discount_active': 'free_item_discount'},
 'SR1': {'product_name': 'Strawberries',
  'product_price': 5.0,
  'product_discount_price': 4.5,
  'product_discount_percentage': nan,
  'product_discount_free_quantity': nan,
  'product_discount_minimum': nan,
  'discount_active': 'price_discount'},
 'CF1': {'product_name': 'Coffee',
  'product_price': 11.23,
  'product_discount_price': nan,
  'product_discount_percentage': 0.67,
  'product_discount_free_quantity': nan,
  'product_discount_minimum': nan,
  'discount_active': 'percentage_discount'},
 'HF1': {'product_name': 'Water',
  'product_price': 1.0,
  'product_discount_price': nan,
  'product_discount_percentage': nan,
  'product_discount_free_quantity': nan,
  'product_discount_minimum': nan,
  'discount_active': 'none'}}